@font-face {
    font-family: 'NeueHaasGroteskThin';
    src: url('../fonts/NHaasGroteskDSPro-25Th.eot');
    src: url('../fonts/NHaasGroteskDSPro-25Th.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-25Th.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-25Th.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-25Th.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-25Th.svg#NHaasGroteskDSPro-25Th') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasGroteskLight';
    src: url('../fonts/NHaasGroteskDSPro-45Lt.eot');
    src: url('../fonts/NHaasGroteskDSPro-45Lt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-45Lt.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-45Lt.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-45Lt.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-45Lt.svg#NHaasGroteskDSPro-45Lt') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasGroteskThinItalic';
    src: url('../fonts/NHaasGroteskDSPro-26ThIt.eot');
    src: url('../fonts/NHaasGroteskDSPro-26ThIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-26ThIt.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-26ThIt.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-26ThIt.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-26ThIt.svg#NHaasGroteskDSPro-26ThIt') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasGroteskMedium';
    src: url('../fonts/NHaasGroteskDSPro-65Md.eot');
    src: url('../fonts/NHaasGroteskDSPro-65Md.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-65Md.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-65Md.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-65Md.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-65Md.svg#NHaasGroteskDSPro-65Md') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasGroteskExtraLight';
    src: url('../fonts/NHaasGroteskDSPro-35XLt.eot');
    src: url('../fonts/NHaasGroteskDSPro-35XLt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-35XLt.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-35XLt.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-35XLt.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-35XLt.svg#NHaasGroteskDSPro-35XLt') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasGroteskBold';
    src: url('../fonts/NHaasGroteskDSPro-75Bd.eot');
    src: url('../fonts/NHaasGroteskDSPro-75Bd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-75Bd.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-75Bd.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-75Bd.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-75Bd.svg#NHaasGroteskDSPro-75Bd') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasGroteskBlackItalic';
    src: url('../fonts/NHaasGroteskDSPro-96BlkIt.eot');
    src: url('../fonts/NHaasGroteskDSPro-96BlkIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-96BlkIt.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-96BlkIt.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-96BlkIt.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-96BlkIt.svg#NHaasGroteskDSPro-96BlkIt') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasGroteskRegularItalic';
    src: url('../fonts/NHaasGroteskDSPro-56It.eot');
    src: url('../fonts/NHaasGroteskDSPro-56It.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-56It.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-56It.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-56It.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-56It.svg#NHaasGroteskDSPro-56It') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasGroteskMediumItalic';
    src: url('../fonts/NHaasGroteskDSPro-66MdIt.eot');
    src: url('../fonts/NHaasGroteskDSPro-66MdIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-66MdIt.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-66MdIt.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-66MdIt.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-66MdIt.svg#NHaasGroteskDSPro-66MdIt') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasGroteskBlack';
    src: url('../fonts/NHaasGroteskDSPro-95Blk.eot');
    src: url('../fonts/NHaasGroteskDSPro-95Blk.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-95Blk.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-95Blk.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-95Blk.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-95Blk.svg#NHaasGroteskDSPro-95Blk') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasGroteskUltraThinItalic';
    src: url('../fonts/NHaasGroteskDSPro-16UltThIt.eot');
    src: url('../fonts/NHaasGroteskDSPro-16UltThIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-16UltThIt.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-16UltThIt.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-16UltThIt.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-16UltThIt.svg#NHaasGroteskDSPro-16UltThIt') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasGroteskBoldItalic';
    src: url('../fonts/NHaasGroteskDSPro-76BdIt.eot');
    src: url('../fonts/NHaasGroteskDSPro-76BdIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-76BdIt.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-76BdIt.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-76BdIt.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-76BdIt.svg#NHaasGroteskDSPro-76BdIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasGroteskExtraLightItalic';
    src: url('../fonts/NHaasGroteskDSPro-36XLtIt.eot');
    src: url('../fonts/NHaasGroteskDSPro-36XLtIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-36XLtIt.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-36XLtIt.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-36XLtIt.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-36XLtIt.svg#NHaasGroteskDSPro-36XLtIt') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasGroteskRegular';
    src: url('../fonts/NHaasGroteskDSPro-55Rg.eot');
    src: url('../fonts/NHaasGroteskDSPro-55Rg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-55Rg.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-55Rg.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-55Rg.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-55Rg.svg#NHaasGroteskDSPro-55Rg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasGroteskLightItalic';
    src: url('../fonts/NHaasGroteskDSPro-46LtIt.eot');
    src: url('../fonts/NHaasGroteskDSPro-46LtIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-46LtIt.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-46LtIt.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-46LtIt.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-46LtIt.svg#NHaasGroteskDSPro-46LtIt') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'NeueHaasGroteskUltraThin';
    src: url('../fonts/NHaasGroteskDSPro-15UltTh.eot');
    src: url('../fonts/NHaasGroteskDSPro-15UltTh.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NHaasGroteskDSPro-15UltTh.woff2') format('woff2'),
        url('../fonts/NHaasGroteskDSPro-15UltTh.woff') format('woff'),
        url('../fonts/NHaasGroteskDSPro-15UltTh.ttf') format('truetype'),
        url('../fonts/NHaasGroteskDSPro-15UltTh.svg#NHaasGroteskDSPro-15UltTh') format('svg');
    font-weight: 100;
    font-style: normal;
}

