/**********************************
*********** MAIN ELEMENTS *********
**********************************/

body, html {
    margin: 0;
    padding: 0;
    font-family: 'NeueHaasGroteskRegular', Helvetica, Arial, sans-serif !important;
    font-size: 1em;
    font-family: sans-serif;
    background: #fff;
    color: #000 !important;
    overflow-x: hidden;
}

h1, h2, h3 {
    text-align:center;
}

a {
    text-decoration: none !important;
    color: #000 !important;
    box-shadow: rgb(53, 234, 165) 0px -5px 0px inset !important;
    transition: box-shadow 0.3s ease-in-out 0s;
}

a:hover {
    text-decoration: none !important;
    color: #000 !important;
    box-shadow: rgb(53, 234, 165) 0px -20px 0px inset !important;
}

h3 a:hover {
    text-decoration: none !important;
    color: #000 !important;
    box-shadow: rgb(53, 234, 165) 0px -42px 0px inset !important;
}

*:focus { /* bordure input chrome */
    outline: none !important;
}

button:focus, button:active:focus, button.active:focus{
    outline:none !important;
    box-shadow: none !important;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
} 

/**********************************
************ MAIN PAGE ************
**********************************/

/************ header *************/

#cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(53, 234, 165);
    height: 100vh;
    box-shadow: 0 0px 5px #3232321a,0 3px 5px #0000001a;
    z-index: 100;
}

#cover h1 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: auto;
    white-space:nowrap;
    font-family: 'NeueHaasGroteskBold', Helvetica, Arial, sans-serif;
    font-size: 20vw;
    color: #000;
    text-align: left;
}

#bar {
    position: fixed;
    top:-100%;
    left: 0;
    width: 100%;
    background: rgb(53, 234, 165);
    font-family: 'NeueHaasGroteskBold', Helvetica, Arial, sans-serif;
    box-shadow: 0 0px 5px #3232321a,0 3px 5px #0000001a;
    z-index: 100;
}
#bar h1 {
    font-family: 'NeueHaasGroteskBold', Helvetica, Arial, sans-serif;
    font-size: 3em;
    transition: 0.3s ease-in-out 0s;

}

#bar h1:hover {
    letter-spacing: 0.01em
}

@media all and (max-width: 768px)
{
	#bar h1 {
        font-size: 8vw;
        margin: 0;
    }
}

/********** blog description ***********/

.blog_intro {
    border-bottom: 4px solid #EEE;
    padding-top: 2.5em;
    background: #f2F2F2;
}

#blog_author h2  {
    font-family: 'NeueHaasGroteskBold', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    text-align: left;
    margin-top: 2em;
    cursor: pointer;
}

#plus {
    font-family: 'fontawesome', Arial, sans-serif;
    font-size: 2.3em;
    margin-top: 2.1em;
    text-align: right;
}

.fa-plus {
    cursor: pointer;
}

.blog_description {
    font-family: 'NeueHaasGroteskBold', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
}

@media all and (max-width: 768px)
{
    #blog_author h2 {
        font-size: 2em;
        margin-bottom: 0;
    }

    .blog_description {
        font-size: 1.5em;
    }

    #plus {
        font-size: 1.8em;
    }
}


/************** billets *************/


.listPostsRow1, .listPostsRow2 {
    position: relative;
    z-index: 2;
}

.content_bottom {
    position: absolute !important;
    bottom: 0;
    z-index: 3;
}

.content_top {
    position: absolute !important;
    top: 0;
    z-index: 3;
}

.title h3 {
    font-family: 'NeueHaasGroteskThin', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.2em;
    padding: 70px 0 20px 0;
}

.content {
    border-top: 0px solid rgb(53, 234, 165);
    margin-top: 250px;
    margin-bottom: 250px;
}

.content p {
    color: #4c4c4c;
    font-size: 1.3em;
    text-indent: 1.3em;
    line-height: 1.3em;

}

.folio {
    font-family: 'NeueHaasGroteskBold', Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 7em;
    text-align: center;
}

.post_content_read_more,
.post_content_date {
    font-family: 'NeueHaasGroteskmedium', Helvetica, Arial, sans-serif;
}

.post_content_read_more {
    text-align: right;
}

.cache1, .cache2 {
    position: absolute;
    top: 0px;
    z-index: 100;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.04);
    pointer-events: none;
    z-index: 1;
}

@media all and (max-width: 992px)
{
	.cache1, .cache2 {
        visibility: hidden;
    }

    .post2, .post4 {
        background: #f2F2F2;
    }
}


/************** contact *************/

.contact {
    background: rgb(53, 234, 165);
    padding: 15px 0 15px 0;
    margin-left: 0px !important;
    width: 100%;
    overflow: hidden;
}

.contact_container {
    width: 200%;
    display: flex;
}

.contact_link, .contact_send {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_col1, .contact_col2,
.contact_col3, .contact_col4 {
    width: 50%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.contact_message {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(53, 234, 165);
    text-align: center;
    padding: 15px;
    font-size: 2.5em;
    font-family: 'NeueHaasGroteskBold', Helvetica, Arial, sans-serif;
    z-index: 200;
}

#contact_text {
    font-family: 'NeueHaasGroteskBold', Helvetica, Arial, sans-serif;
    font-size: 3em;
    text-align: center;
}

#btn_contact, #btn_send {
    display: block;
    width: 250px;
    font-family: 'NeueHaasGroteskBold', Helvetica, Arial, sans-serif;
    font-size: 3em;
    border: 4px solid #000;
    border-radius: 70px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    background: none;
}

#email, #message {
    background: rgb(53, 234, 165);
    font-family: 'NeueHaasGroteskBold', helvetica, Arial, sans-serif;
    font-size: 1.5em;
    width: 100%;
    border: 0;
    text-align: center;
    border: 4px solid #000; 
    box-sizing: border-box;
    -webkit-appearance: none;
}
#message {
    resize: none;
    border-radius: 10px;
}

#email {
    border-radius: 10px;
    margin-bottom: 15px;
}

#message::-webkit-input-placeholder,
#email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    opacity: 1 !important;
}
#message::-moz-placeholder,
#email::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    opacity: 1 !important;
}
#message:-ms-input-placeholder,
#email:-ms-input-placeholder { /* IE 10+ */
    color: #000;
    opacity: 1 !important;
}
#message:-moz-placeholder,
#email:-moz-placeholder { /* Firefox 18- */
    color: #000;
    opacity: 1 !important;
}

#message:focus::-webkit-input-placeholder { opacity: 0 !important; } /* Chrome 56, Safari 9 */
#message:focus:-moz-placeholder { opacity: 0 !important; } /* FF 4-18 */
#message:focus::-moz-placeholder { opacity: 0 !important; } /* FF 19-50 */
#message:focus:-ms-input-placeholder { opacity: 0 !important; } /* IE 10+ */
#message:focus::placeholder { opacity: 0 !important; } /* Modern Browsers */

#email:focus::-webkit-input-placeholder { opacity: 0 !important; } /* Chrome 56, Safari 9 */
#email:focus:-moz-placeholder { opacity: 0 !important; } /* FF 4-18 */
#email:focus::-moz-placeholder { opacity: 0 !important; } /* FF 19-50 */
#email:focus:-ms-input-placeholder { opacity: 0 !important; } /* IE 10+ */
#email:focus::placeholder { opacity: 0 !important; } /* Modern Browsers */

@media all and (max-width: 768px)
{
    .contact_send {
        flex-wrap: wrap;
        font-size: 0.5em !important;
    }

    .contact_link {
        flex-wrap: wrap;
        font-size: 0.8em !important;
    }
    
    .contact_col1, .contact_col2,
    .contact_col3, .contact_col4 {
        width: 100%;
    }

    .contact_col1 {
        display: none !important;
    }
    
    #btn_contact, #btn_send {
        margin-top: 15px;
        font-size: 3em !important;
    }

    #email, #message {
        font-size: 3em !important;
    }

    .contact_message {
        font-size: 1.5em;
    }
}




/************** footer *************/


footer {
    background: #000;
    color: rgb(53, 234, 165);
    padding: 20px;
}

footer a {
    color: rgb(53, 234, 165) !important;
    box-shadow: none !important;
}

footer a:hover {
    color: rgb(53, 234, 165) !important;
    box-shadow: none !important;
}

footer {
    font-family: 'fontawesome', Arial, sans-serif;;
    font-size: 3em;
}

.pagination_next {
    text-align: right;
    transition: 0.3s ease-in-out 0s;
}

.btn_next, .btn_prev {
    transition: 0.3s ease-in-out 0s;
}

.btn_next:hover {
    transform: translate3d(10px, 0, 0);
}

.btn_prev:hover {
    transform: translate3d(-10px, 0, 0);
}

.pagination_pages {
    font-family: 'NeueHaasGroteskMedium', Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_item, .page_item_current {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.page_item_current {
    background: rgb(53, 234, 165);
    border-radius: 5px;
    color: #000;
}




/**********************************
*********** Single Post ***********
**********************************/

/*********** Post ***********/

.container_single_post {
    padding-top: 120px;
}

.comments_target {
    text-align: right;
}

.single_post h2 {
    font-family: 'NeueHaasGroteskThin', Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1.2em;
    padding: 80px 0 60px 0;
    text-align: center !important;
}

.single_post {
    font-size: 1.7em;
}

.single_post_date {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media all and (max-width: 768px)
{
    .container_single_post {
        padding-top: 90px;
    }

    .single_post h2 {
        font-size: 2em;
        line-height: 1em;
    }

    .single_post {
        font-size: 1.3em;
    }

}


/********** form comments *********/

.container_comment_form {
    font-family: 'NeueHaasGroteskBold', Helvetica, Arial, sans-serif;
    background: rgb(53, 234, 165);
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn_send_container {
    display: flex;
    align-items: center;
}

.container_comment_form #author,
.container_comment_form #comment {
    background: rgb(53, 234, 165);
    font-family: 'NeueHaasGroteskBold', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    width: 100%;
    border: 0;
    text-align: center;
    border: 4px solid #000; 
    box-sizing: border-box;
}

.container_comment_form #comment {
    resize: none;
    border-radius: 10px;
}

.container_comment_form #author {
    border-radius: 10px;
    margin-bottom: 15px;
}

.container_comment_form #author::-webkit-input-placeholder,
.container_comment_form #comment::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    opacity: 1 !important;
}
.container_comment_form #author::-moz-placeholder,
.container_comment_form #comment::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    opacity: 1 !important;
}
.container_comment_form #author:-ms-input-placeholder,
.container_comment_form #comment:-ms-input-placeholder { /* IE 10+ */
    color: #000;
    opacity: 1 !important;
}
.container_comment_form #author:-moz-placeholder,
.container_comment_form #comment:-moz-placeholder { /* Firefox 18- */
    color: #000;
    opacity: 1 !important;
}

.container_comment_form #author:focus::-webkit-input-placeholder { opacity: 0 !important; } /* Chrome 56, Safari 9 */
.container_comment_form #author:focus:-moz-placeholder { opacity: 0 !important; } /* FF 4-18 */
.container_comment_form #author:focus::-moz-placeholder { opacity: 0 !important; } /* FF 19-50 */
.container_comment_form #author:focus:-ms-input-placeholder { opacity: 0 !important; } /* IE 10+ */
.container_comment_form #author:focus::placeholder { opacity: 0 !important; } /* Modern Browsers */

.container_comment_form #comment:focus::-webkit-input-placeholder { opacity: 0 !important; } /* Chrome 56, Safari 9 */
.container_comment_form #comment:focus:-moz-placeholder { opacity: 0 !important; } /* FF 4-18 */
.container_comment_form #comment:focus::-moz-placeholder { opacity: 0 !important; } /* FF 19-50 */
.container_comment_form #comment:focus:-ms-input-placeholder { opacity: 0 !important; } /* IE 10+ */
.container_comment_form #comment:focus::placeholder { opacity: 0 !important; } /* Modern Browsers */

@media all and (max-width: 768px)
{
    .container_comment_form #btn_send {
        font-size: 1.5em !important;
    }
}


/********** comments *********/

.container_comments {
    font-size: 1.7em;
}

.single_comment {
    padding-top: 50px;
}

.single_comment:last-child {
    padding-bottom: 50px;
}

.col_report{
    text-align: right;
    margin: 0;
}

.btn_report {
    font-family: 'NeueHaasGroteskBold', Helvetica, Arial, sans-serif;
    border: 0px solid #000;
    border-radius: 70px;
    padding: 5px 20px 5px 20px;
    margin: 0;
    text-align: center;
    font-size: 0.6em !important;
    cursor: pointer;
    background: rgb(53, 234, 165);
}

.container_comments .comment_sent {
    background: #f2f2f2;
    border-radius: 20px;
    padding: 30px;
    margin-top: 5px;
}

.container_comments .comment_details {
    font-size: 0.6em;
    padding-top: 11px;
    padding-bottom: 6px;
}

@media all and (max-width: 768px)
{
    .container_comments {
        font-size: 1.3em;
    }

    .container_comments .comment_details {
        font-size: 0.65em;
    }
}